/* Some reset to begin with */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
address,
code,
em,
img,
small,
strike,
strong,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset perso */


a {
    text-decoration: none;

    color: inherit;
}

label,
button {
    cursor: pointer;
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

input,
button {
    outline: 0;
}

/*Actual styling*/

body {
    width: 100vw;
    height: 100vh;
}

.mainBlock {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}


h1 {

    font-size: 4rem;
    margin: 2rem auto;
    font-family: 'Reenie Beanie', Georgia, cursive;
    

}



.questionInput {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    border: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#questionSubmitId {
    margin: 1rem auto;
    width: 100%;
    text-align: center;
}

#hereGoesTheAnswer {
    border-radius: 100px;
    width: 15%;
    height: 10rem;
    position: absolute;
    top: 60%;
    left: 40%;
    z-index: 45;

}

#hereGoesTheAnswer p {
    font-family: 'Reenie Beanie', Georgia, cursive;
    font-size: 2rem;
    margin: 3rem auto;
    text-align: center;
    word-break: wrap;
    padding: 0.5rem;
}

.crystalBall {
    width: 60%;
    margin: 0 auto;
}

#crystalImage {
width: 100%;
}


.background {
    visibility: visible;
    width: 20rem;
    height: 20rem;
    border-radius: 200px;
    opacity: 1;
    background: rgb(212,150,217);
    background: radial-gradient(circle, rgba(212,150,217,0.7406938531425562) 0%, rgba(212,150,217,0) 49%, rgba(212,150,217,0) 100%);
    position: absolute;
    left: 280px;

}








